<a href="https://colab.research.google.com/github/revanthjavvaji/Taxi_Price_Prediction/blob/main/Taxi_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train_data=pd.read_csv("/content/train.csv")
test_data=pd.read_csv("/content/test.csv")

In [ ]:
train_data.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration,calculated_total_amount
0,9.01,1,N,1,26.0,0.0,0.5,8.14,5.76,0.3,40.70,262,138,2018,3,7,2,6,2131.0,24.30
1,0.20,1,N,1,3.0,0.0,0.5,0.75,0.00,0.3,4.55,263,236,2018,2,25,6,10,2377.0,37.40
2,9.65,1,N,1,41.5,0.0,0.5,9.61,5.76,0.3,57.67,138,230,2018,1,29,0,8,1286.0,30.36
3,9.50,1,N,1,30.0,0.5,0.5,9.25,5.76,0.3,46.31,186,138,2018,9,25,1,20,2586.0,4.30
4,5.80,1,N,1,21.5,0.5,0.5,4.56,0.00,0.3,27.36,162,87,2018,8,20,0,21,1575.0,23.80

In [ ]:
test_data.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration
0,15.70,1,N,2,45.0,0.0,0.5,0.00,0.00,0.3,45.80,132,146,2018,10,20,5,16,3967.0
1,7.30,1,N,1,25.5,0.0,0.5,7.89,0.00,0.3,34.19,186,69,2018,2,24,5,15,1491.0
2,14.87,1,N,1,40.5,0.5,0.5,8.36,0.00,0.3,50.16,138,89,2018,9,11,1,22,1395.0
3,2.90,1,N,2,22.0,0.0,0.5,0.00,0.00,0.3,22.80,90,162,2018,6,7,3,11,1742.0
4,8.96,1,N,1,32.0,0.0,0.5,0.00,5.76,0.3,38.56,138,186,2018,4,20,4,10,1623.0

In [ ]:
print(train_data.shape)

(35000, 20)

In [ ]:
print(test_data.shape)

(15000, 19)

In [ ]:
X=train_data.drop(["calculated_total_amount"],axis=1,inplace=False) ##Input
X.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration
0,9.01,1,N,1,26.0,0.0,0.5,8.14,5.76,0.3,40.70,262,138,2018,3,7,2,6,2131.0
1,0.20,1,N,1,3.0,0.0,0.5,0.75,0.00,0.3,4.55,263,236,2018,2,25,6,10,2377.0
2,9.65,1,N,1,41.5,0.0,0.5,9.61,5.76,0.3,57.67,138,230,2018,1,29,0,8,1286.0
3,9.50,1,N,1,30.0,0.5,0.5,9.25,5.76,0.3,46.31,186,138,2018,9,25,1,20,2586.0
4,5.80,1,N,1,21.5,0.5,0.5,4.56,0.00,0.3,27.36,162,87,2018,8,20,0,21,1575.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

#X_scaled = scaler.fit_transform(X)
#X _scaled= pd.DataFrame(X_scaled)

In [ ]:
X=train_data.drop(["calculated_total_amount"],axis=1,inplace=False) ##Input
X.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration
0,9.01,1,N,1,26.0,0.0,0.5,8.14,5.76,0.3,40.70,262,138,2018,3,7,2,6,2131.0
1,0.20,1,N,1,3.0,0.0,0.5,0.75,0.00,0.3,4.55,263,236,2018,2,25,6,10,2377.0
2,9.65,1,N,1,41.5,0.0,0.5,9.61,5.76,0.3,57.67,138,230,2018,1,29,0,8,1286.0
3,9.50,1,N,1,30.0,0.5,0.5,9.25,5.76,0.3,46.31,186,138,2018,9,25,1,20,2586.0
4,5.80,1,N,1,21.5,0.5,0.5,4.56,0.00,0.3,27.36,162,87,2018,8,20,0,21,1575.0

In [ ]:
Y=train_data["calculated_total_amount"]  # OUTPUT
Y.head()

0    24.30
1    37.40
2    30.36
3     4.30
4    23.80
Name: calculated_total_amount, dtype: float64

In [ ]:
#---------------Linear regression---------#

In [ ]:
#from sklearn.linear_model import LinearRegression
# create linear regression object
#reg = LinearRegression()
  
# train the model using the training sets
#reg.fit(X_train, y_train)

In [ ]:
#y_pred_LR=reg.predict(X_tst)
#rmse_linrig=reg.predict(X_test)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,rmse_linrig)))

In [ ]:
#LR=pd.DataFrame(y_pred_LR)
#LR.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#LR.to_csv("LR.csv",index=False)

In [ ]:
#-----------------RANSAC Regression-------------#

In [ ]:
#from sklearn.linear_model import RANSACRegressor
#model_ransac=RANSACRegressor()
#model_ransac.fit(X_train,y_train)

In [ ]:
#y_pred_ransac=model_ransac.predict(X_tst)
#rmse_ransac=model_ransac.predict(X_test)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,rmse_ransac)))

In [ ]:
#RANSAC=pd.DataFrame(y_pred_ransac)
#RANSAC.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#RANSAC.to_csv("RANSAC.csv",index=False)

In [ ]:
#!pip install flaml
#from sklearn.model_selection import train_test_split
#from flaml import AutoML
#model = AutoML()
#model.fit(X,Y, metric='rmse', task='regression', time_budget=20)

In [ ]:
#print('Best ML Model: ', model.best_estimator)
#print('Best hyperparmeter config: ', model.best_config)
#print('Best accuracy on validation data: %f' %(1 - model.best_loss))
#print('Training duration of best run: %f s'%(model.best_config_train_time))

In [ ]:
#parameters=model.best_config

In [ ]:
#print(parameters)

In [ ]:

from sklearn import preprocessing 
lab_enc = preprocessing.LabelEncoder()
X.iloc[:,2]=lab_enc.fit_transform(X.iloc[:, 2])

In [ ]:
X.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration
0,9.01,1,0,1,26.0,0.0,0.5,8.14,5.76,0.3,40.70,262,138,2018,3,7,2,6,2131.0
1,0.20,1,0,1,3.0,0.0,0.5,0.75,0.00,0.3,4.55,263,236,2018,2,25,6,10,2377.0
2,9.65,1,0,1,41.5,0.0,0.5,9.61,5.76,0.3,57.67,138,230,2018,1,29,0,8,1286.0
3,9.50,1,0,1,30.0,0.5,0.5,9.25,5.76,0.3,46.31,186,138,2018,9,25,1,20,2586.0
4,5.80,1,0,1,21.5,0.5,0.5,4.56,0.00,0.3,27.36,162,87,2018,8,20,0,21,1575.0

In [ ]:
from sklearn import preprocessing 
#X_n=preprocessing.normalize(X)
#print(X_n.shape)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn import preprocessing 
lab_enc = preprocessing.LabelEncoder()
X_tst=test_data
X_tst.iloc[:,2]=lab_enc.fit_transform(X_tst.iloc[:,2])

In [ ]:
#-------------Best_Final
#---Consider This XG model as this is best and run ignore remaining models 
import xgboost as xg
mod = xg.XGBRFRegressor()

mod = mod.fit(X,Y)
rmse=mod.predict(X_test)
predictions = mod.predict(X_tst)
from sklearn.metrics import mean_squared_error
# rmse
print('RMSE:', np.sqrt(mean_squared_error(y_test, rmse)))

[04:34:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 20.314516594648516

In [ ]:
#---run this to give predictions
XG_pred=pd.DataFrame(predictions)
XG_pred.rename(columns = {0:'calculated_total_amount'}, inplace = True)
print(XG_pred.columns)
XG_pred.to_csv("XG_Final_1.csv",index=False)

Index(['calculated_total_amount'], dtype='object')

In [ ]:
#import lightgbm as lgb
#model_lgbm= lgb.LGBMRegressor(num_leaves=5, n_estimators=28, min_child_samples= 26)
#model_lgbm.fit(X,Y)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"min_child_samples" : list(range(50)),"n_estimators" : list(range(200)),"num_leaves" : list(range(0,10))}
#clf=RandomizedSearchCV(model_lgbm,param,scoring="neg_root_mean_squared_error") 
#clf.fit(X,Y)

In [ ]:
#print(clf.best_params_)
#print(clf.best_score_)

In [ ]:
#from sklearn import preprocessing 
#lab_enc = preprocessing.LabelEncoder()
#X_tst=test_data
#X_tst.iloc[:,2]=lab_enc.fit_transform(X_tst.iloc[:,2])

In [ ]:
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import mean_squared_error

#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [ ]:
#from sklearn import preprocessing
# predict the results
#y_rmse_lgbm=model_lgbm.predict(X_test)
#y_pred=model_lgbm.predict(X_tst)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_rmse_lgbm)))

In [ ]:
#LGBM_TAXI=pd.DataFrame(y_pred)
#LGBM_TAXI.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#LGBM_TAXI.to_csv("LGBM_TAXI_14.csv",index=False)

In [ ]:
#-------------------------------Random Forest---------#
#from sklearn.ensemble import RandomForestRegressor
#rfmodel=RandomForestRegressor(n_estimators= 4, max_features= 0.923187219673215, max_leaf_nodes= 16)
#rfmodel.fit(X,Y)

In [ ]:
#y_rf_pred=rfmodel.predict(X_tst)

In [ ]:
#RF_TAXI=pd.DataFrame(y_rf_pred)
#RF_TAXI.to_csv("RF_TAXI_1.csv")

In [ ]:
#------------------XGBOOST-------------------#

In [ ]:
#from xgboost import XGBRegressor
#xgmodel=XGBRegressor(reg_lambda= 4,n_estimators= 147,max_depth=4)
#xgmodel.fit(X_train,y_train)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"max_depth" : list(range(30)),"n_estimators" : list(range(200)),"reg_lambda" : list(range(0,5))}
#clf=RandomizedSearchCV(xgmodel,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X_train,y_train)

In [ ]:
#print(clf.best_params_)
#print(clf.best_score_)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param_test1 = {
# 'max_depth':range(3,10,2),
# 'min_child_weight':range(1,6,2)
#}
#gsearch1 = RandomizedSearchCV(xgmodel,param_test1, scoring='neg_root_mean_squared_error',n_jobs=4,cv=5)
#gsearch1.fit(X,Y)
#gsearch1.best_params_, gsearch1.best_score_

In [ ]:
#param_test2 = {
# 'max_depth':[4,5,6],
# 'min_child_weight':[4,5,6]
#}
#gsearch2 = RandomizedSearchCV(xgmodel,param_test2, scoring='neg_root_mean_squared_error',n_jobs=4,cv=5)
#gsearch2.fit(X,Y)
#gsearch2.best_params_, gsearch2.best_score_

In [ ]:
#param_test3 = {
#'gamma':[i/10.0 for i in range(0,5)]
#}
#gsearch3 = RandomizedSearchCV(xgmodel,param_test3, scoring='neg_root_mean_squared_error',n_jobs=4,cv=5)
#gsearch3.fit(X,Y)
#gsearch3.best_params_, gsearch3.best_score_

In [ ]:
#y_pred_xg=xgmodel.predict(X_tst)
#y_pred_xg=pd.DataFrame(y_pred_xg)
#y_pred_xg.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#y_pred_xg_rmse=xgmodel.predict(X_test)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"alpha" : list(range(0,2))}
#clf=RandomizedSearchCV(xgmodel,param,scoring="neg_root_mean_squared_error")
#clf.fit(X,Y)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_pred_xg_rmse)))

In [ ]:
#XG_TAXI=pd.DataFrame(y_pred_xg)
#XG_TAXI.to_csv("XG_TAXI_12.csv",index=False)

In [ ]:
#--------------Applying  PCA---------------------------------#

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler(feature_range=(0, 1))

#X_scaled = scaler.fit_transform(X)
#X _scaled= pd.DataFrame(X_scaled)

In [ ]:
#from sklearn.decomposition import PCA

# Set the n_components=3
#principal=PCA(n_components=3)
#principal.fit(X_scaled)
#X_PCA=principal.transform(X_scaled)
 
# Check the dimensions of data after PCA
#print(X_PCA.shape)

In [ ]:
#---------------------Neural Networks-----------------#

In [ ]:
#import math
#import pandas as pd
#import tensorflow as tf
#import matplotlib.pyplot as plt
#from tensorflow.keras import Model
#from tensorflow.keras import Sequential
#from tensorflow.keras.optimizers import Adam
#from sklearn.preprocessing import StandardScaler
#from tensorflow.keras.layers import Dense, Dropout
#from sklearn.model_selection import train_test_split
#from tensorflow.keras.losses import MeanSquaredLogarithmicError

In [ ]:
#hidden_units1 = 2048
#hidden_units2 = 1024
#hidden_units3 = 1024
#hidden_units4 = 512
#hidden_units5 = 64
#learning_rate = 0.01
# Creating model using the Sequential in tensorflow
#def build_model_using_sequential():
# model = Sequential([
#    Dense(hidden_units1, kernel_initializer='normal', activation='relu',input_dim=X.shape[1]),
#    #Dropout(0.2),
#    Dense(hidden_units2, kernel_initializer='normal', activation='relu'),
#    #Dropout(0.2),
#    Dense(hidden_units3, kernel_initializer='normal', activation='relu'),
#    #Dropout(0.2),
#    Dense(hidden_units4, kernel_initializer='normal', activation='relu'),
#    #Dropout(0.2),
#    Dense(hidden_units5, kernel_initializer='normal', activation='relu'),
#   #Dropout(0.2),
#    Dense(1, kernel_initializer='normal', activation='linear')
# ])
#  return model
# build the model
#model = build_model_using_sequential()

In [ ]:
# loss function
#msle = MeanSquaredLogarithmicError()
#model.compile(
#    loss="mean_squared_error", 
#    optimizer="Adam", 
#    metrics=["mean_squared_error"]
#)
## train the model
#history = model.fit(
#    X_train, 
#    y_train, 
#    batch_size=32,
#)

In [ ]:
#X_tst_1=test_data
#y_rmse=model.predict(X_test)
#y_pred_nn=model.predict(X_tst)
#print(y_pred_nn)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_rmse)))

In [ ]:
#NN_PRED=pd.DataFrame(y_pred_nn)
#NN_PRED.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#NN_PRED.to_csv("NN_PRED_20.csv",index=False)

In [ ]:
#------------------------Elastic Net--------------#

In [ ]:
#from sklearn.linear_model import ElasticNet
#model_elastic = ElasticNet(alpha=1,max_iter=3000)
#model_elastic.fit(X_train,y_train)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"alpha" : list(range(0,5))}
#clf=RandomizedSearchCV(model_elastic,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X_train,y_train)

In [ ]:
#print(clf.best_params_)
#print(clf.best_score_)

In [ ]:
#y_pred_elastic=model_elastic.predict(X_tst)
#y_pred_elastic_rmse=model_elastic.predict(X_test)
#print(y_pred_elastic)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_pred_elastic_rmse)))

In [ ]:
#ELASTIC_PRED=pd.DataFrame(y_pred_elastic)
#ELASTIC_PRED.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#ELASTIC_PRED.to_csv("ELASTIC_2.csv",index=False)

In [ ]:
#---------------Ridge Regression--------------#

In [ ]:
#from sklearn.linear_model import Ridge

#linridge = Ridge(alpha=4)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"alpha" : list(range(0,5))}
#clf=RandomizedSearchCV(linridge,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X_train,y_train)

In [ ]:
#print(clf.best_params_)
#print(clf.best_score_)

In [ ]:
#linridge.fit(X,Y)

In [ ]:
#y_pred_ridge=linridge.predict(X_tst)
#y_ridge_rmse=linridge.predict(X_test)
#print(y_pred_ridge)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_ridge_rmse)))

In [ ]:
#Ridge_PRED=pd.DataFrame(y_pred_ridge)
#Ridge_PRED.to_csv("Ridge_2.csv",index=False)

In [ ]:
#---------------Lasso Regression-----------------#

In [ ]:
#from sklearn.linear_model import Lasso

# Instantiate a lasso regressor: lasso
#lasso = Lasso(alpha=10)

# Fit the regressor to the data
#lasso.fit(X_train,y_train)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"alpha" : list(range(0,5))}
#clf=RandomizedSearchCV(linridge,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X_train,y_train)

In [ ]:
#print(clf.best_params_)
#print(clf.best_score_)

In [ ]:
#y_pred_lasso=lasso.predict(X_tst)
#y_lasso_rmse=lasso.predict(X_test)
#print(y_pred_lasso)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_lasso_rmse)))

In [ ]:
#LASSO_PRED=pd.DataFrame(y_pred_lasso)
#LASSO_PRED.to_csv("LASSO_1.csv",index=False)

In [ ]:
#!pip install xgboost

In [ ]:
#import xgboost as xg
#xg__model = xg.XGBRFRegressor(max_depth = 2, n_estimators= 49, reg_lambda=1.6)
#xg__model.fit(X,Y)

In [ ]:
#xg__model.predict(X_tst)
#xg_rmse=xg__model.predict(X_test)

In [ ]:
#import xgboost as xg
#mod = xg.XGBRFRegressor(max_depth = 2, n_estimators= 49, reg_lambda=1.6)

#mod = mod.fit(X_train,y_train)
#rmse=mod.predict(X_test)
#predictions = mod.predict(test_data)
#from sklearn.metrics import mean_squared_error
# rmse
#print('RMSE:', np.sqrt(mean_squared_error(y_test, rmse)))

In [ ]:
#XG_pred=pd.DataFrame(predictions)
#XG_pred.to_csv("XG_best_1.csv",index=False)

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"max_depth" : list(range(20)),"n_estimators" : list(range(100)),"reg_lambda" : list(range(0,2))}
#clf=RandomizedSearchCV(mod,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X,Y)

In [ ]:
#print(clf.best_params_)

#print(clf.best_score_)
#best n_estimators=700
#------Best is XG_43 and X_47

In [ ]:
#XG_pred=pd.DataFrame(predictions)
#XG_pred.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#print(XG_pred.columns)
#XG_pred.to_csv("XG_47.csv",index=False)

In [ ]:
#--------------Experiment
#import xgboost as xg
#mod = xg.XGBRFRegressor()

#mod = mod.fit(X_train, y_train)
#rmse=mod.predict(X_test)
#predictions = mod.predict(X_tst)
#from sklearn.metrics import mean_squared_error
# rmse
#print('RMSE:', np.sqrt(mean_squared_error(y_test, rmse)))

In [ ]:
#import sklearn.metrics
#from sklearn.model_selection import RandomizedSearchCV
#param={"max_depth" : list(range(30)),"n_estimators" : list(range(200)),"reg_lambda" : list(range(0,5))}
#clf=RandomizedSearchCV(mod,param,cv=3,scoring="neg_root_mean_squared_error")
#clf.fit(X,Y)

In [ ]:
#print(clf.best_params_)

#print(clf.best_score_)

In [ ]:
#XG_pred=pd.DataFrame(predictions)
#XG_pred.rename(columns = {0:'calculated_total_amount'}, inplace = True)
#print(XG_pred.columns)
#XG_pred.to_csv("XG_63.csv",index=False)

In [ ]:
#-----------------SVM----------------------#

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#scaling = MinMaxScaler(feature_range=(-1,1)).fit(X_train)
#X_train = scaling.transform(X_train)
#X_test = scaling.transform(X_test)
#y_train = scaling.transform(y_train)

In [ ]:
#from sklearn import preprocessing
#from sklearn.svm import SVC
#classifier = SVC()
#lab_enc = preprocessing.LabelEncoder()
#X_train.iloc[:,2]=lab_enc.fit_transform(X_train.iloc[:, 2])
#y_train=lab_enc.fit_transform(y_train)
#Y= lab_enc.fit_transform(Y)
#classifier.fit(X_train,y_train)

In [ ]:
#y_pred_svm = classifier.predict(X_tst)
#svm_rmse=classifier.predict(X_test)

In [ ]:
#from sklearn.metrics import mean_squared_error
#print("RMSE : ", np.sqrt(mean_squared_error(y_test,svm_rmse)))

In [ ]:
#SVM_pred=pd.DataFrame(y_pred_svm)
#SVM_pred.to_csv("SVM.csv",index=False)

In [ ]:
#---------Polynomial Regression---------#

In [ ]:
#from sklearn.preprocessing import PolynomialFeatures
  
#poly = PolynomialFeatures(degree = 4)
#poly.fit(X,Y)

In [ ]:
#y_pred_poly = poly.predict(X_tst)
#poly_rmse=poly.predict(X_test)

In [ ]:
#Poly_pred=pd.DataFrame(y_pred_poly)
#Poly_pred.to_csv("Poly.csv",index=False)

In [ ]:
#-----------Quantile Regression--------------#

In [ ]:
#import statsmodels.api as sm
#import statsmodels.formula.api as smf

In [ ]:
# fit the model
#model = smf.quantreg("")
#model.fit(X_train,y_train)